<app-toolbar title="Profile"></app-toolbar>

<ion-content>
    <ion-grid class="profile-header">
        <ion-row>
            <ion-col size="12">
                <div class="div-profile">
                    <img class="img-profile" src="assets/marc.jpg" alt="Profile">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="profile-content">
        <ion-row>
            <ion-col class="ion-text-center" size="12">
                <span class="profile-name">{{profile.name}}</span>
                <div>
                    <span *ngIf="!isAdm">Student Number: </span>
                    <span *ngIf="isAdm">Register Number: </span>
                    <span>{{profile.registerNumber}}</span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
