.card {
    width: auto;
    height: auto;
}

.grid-login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ion-card-content ion-item {
    width: 90%;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
