<app-toolbar title="Add Student" navBack="/tabs/register"></app-toolbar>

<ion-content color="dark">
    <ion-grid>
        <form (ngSubmit)="save()">
            <ion-row>
                <ion-col size="12">
                    <ion-item color="dark">
                        <ion-label position="stacked">
                            Name
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input [(ngModel)]="name" inputmode="text" name="name" type="text" placeholder="Name" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item color="dark">
                        <ion-label position="stacked">
                            Student number
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input [(ngModel)]="studentNumber" inputmode="numeric" name="studentNumber" type="number" placeholder="Student number" required></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item color="dark" class="mt-item-course">
                        <ion-label>
                            Course
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-select interface="popover" [(ngModel)]="course" name="course" required>
                            <ion-select-option value="Administration">Administration</ion-select-option>
                            <ion-select-option value="Architecture">Architecture</ion-select-option>
                            <ion-select-option value="Computer Science">Computer Science</ion-select-option>
                            <ion-select-option value="Marketing">Marketing</ion-select-option>
                            <ion-select-option value="Physics">Physics</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top">
                <ion-col offset="10" size="2">
                    <ion-button expand="block" type="submit">Save</ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>
