<ion-content>
    <ion-grid class="grid-login">
        <ion-row style="flex-direction: column; margin-bottom: 1rem">
            <ion-col size="12" size-lg="4" offset-lg="4">
                <div style="display: flex; justify-content: center">
                    <img style="width: 12rem;height: 7rem;" src="assets/777.png"/>
                </div>
            </ion-col>
        </ion-row>
        <ion-row style="flex-direction: column">
            <ion-col size="12" size-lg="4" offset-lg="4">
                <form (ngSubmit)="login()" (keydown.enter)="login()">
                    <ion-item class="ion-margin-bottom">
                        <ion-label position="stacked">Student Number</ion-label>
                        <ion-input inputmode="numeric" class="student-input" [(ngModel)]="studentNumber" name="studentNumber" type="number" placeholder="Student Number"></ion-input>
                    </ion-item>
                    <ion-item class="ion-margin-bottom">
                        <ion-label position="stacked">Password</ion-label>
                        <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Password"></ion-input>
                    </ion-item>
                    <ion-button type="submit" class="ion-margin-bottom ion-float-end" color="primary">Sign in</ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
