<ion-content>
    <ion-grid class="grid-login">
        <ion-row class="ion-justify-content-center" style="flex-direction: column">
            <!--<ion-card class="card">
                <ion-card-header>
                    <ion-card-title>Login</ion-card-title>
                </ion-card-header>
                <ion-card-content class="card-content">
                    <ion-item class="ion-margin-bottom">
                        <ion-label [position]="isMobile ? 'stacked' : 'fixed'">E-mail</ion-label>
                        <ion-input type="email" placeholder="E-mail"></ion-input>
                    </ion-item>
                    <ion-item class="ion-margin-bottom">
                        <ion-label [position]="isMobile ? 'stacked' : 'fixed'">Password</ion-label>
                        <ion-input type="password" placeholder="Password"></ion-input>
                    </ion-item>

                    <ion-button (click)="login()" class="ion-margin-bottom ion-float-end" color="primary">Sign in</ion-button>
                </ion-card-content>
            </ion-card>-->
            <ion-col size="12" size-lg="4" offset-lg="4">
                <form (ngSubmit)="login()">
                    <ion-item class="ion-margin-bottom">
                        <ion-label [position]="isMobile ? 'stacked' : 'fixed'">E-mail</ion-label>
                        <ion-input [(ngModel)]="email" name="email" type="email" placeholder="E-mail"></ion-input>
                    </ion-item>
                    <ion-item class="ion-margin-bottom">
                        <ion-label [position]="isMobile ? 'stacked' : 'fixed'">Password</ion-label>
                        <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Password"></ion-input>
                    </ion-item>
                    <ion-button type="submit" class="ion-margin-bottom ion-float-end" color="primary">Sign in</ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
